body{
    background-color:rgba(0, 0, 0, 0.651);
color: white;
}
button {
  
  font-family: cursive;
    color: white;
    margin-left: 20px;
      padding: 10px 20px;
     background-color: rgba(0, 136,169,1); 
      border: none;
      border-radius: 50px;
      cursor: pointer; ;
      transition:all 0.3s ease 0s ;
     
  }
  li ,a,button {
    font-family:cursive;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    margin: 0 10 px;
}